 <div class="page container" ng-animate>
    <div id="login-box" class="center-block form" style="margin-top:10%; width:300px;">
    	
        <h4 class="caps block text-primary">Welcome</h4>
        <form ng-submit ="login()" >
            <div class="form-group">
                <input type="email" id="login-email" class="form-control email" ng-model="credentials.email" ui-keypress="{'enter':'login()'}" placeholder="Email">
                <input type="password" id="login-password" class="form-control password" ng-model="credentials.password" placeholder="Password">
                <button id="login-submit" class="btn btn-block btn-primary" type="submit">Go!</button>
                <a href="" id="forgot-password-link" class="text-center col-xs-12" style="display:none;">Forgot your password?</a>
                <h4 class="text-center text-danger col-xs-12">{{loginError}}</h4>
            </div>
        </form>
    </div>
</div>
