<script type="text/ng-template" id="dashboard-page" ng-animate="slide">
    <div class="page container">
       <h1 class="big-text stamped text-center"> No Widgets Awailable</h1>
    </div> 
</script> 
            