<div class="toolbar-lg toolbar-fixed-top container-fluid bg-primary" ng-show="showHeader">
    <h3 class="shadow caps pull-left">Sentia.io</h3>
    <div id="navmenu" class="pull-left hide-on-login">
    	
        <a href="/#/dashboard" class="icon-dashboard shadow caps text-white dashboard" ng-class="{active : page === 'dash'}">
            <span class="hidden-xs">Dashboard</span>
        </a>
        <a href="/#/cameras" class="icon-home shadow caps text-white cam"ng-class="{active : page === 'cam'}">
            <span class="hidden-xs">Cameras</span>
        </a>
    </div>
    <div class="pull-right hide-on-login hidden-xs">
        <a href="" class="shadow caps text-white">
            <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=40&d=https://pbs.twimg.com/profile_images/3292107408/13effc3507c3fabffed7d4b034ea1a41.jpeg" alt="" id="active-user-avatar" class="img-xs-round">
            <span id="active-user-name"></span>
        </a>
    </div>
</div>
