<!DOCTYPE html>
<html ng-app="app">
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.

    -->
    <!-- <link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/> -->
    <link type="text/css" href='styles/style.css' rel='stylesheet'/>
    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-md5/angular-md5.js"></script>
    <script src="/bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="/bower_components/angulartics/dist/angulartics-mixpanel.min.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services/CamService.js"></script>
    <script src="/js/services/StoreService.js"></script>
    <script src="/js/controllers/CamCtrl.js"></script>
    <script src="/js/controllers/DashCtrl.js"></script>
    <script src="/js/controllers/LoginCtrl.js"></script>
    <script src="/js/controllers/MainCtrl.js"></script>
    <script src="/js/controllers/StoreCtrl.js"></script>
    <script src="/js/directives/sflowmap.js"></script>
    <script src="/js/directives/sheatmap.js"></script>
    <script src="/js/filters/heatFilter.js"></script>
    <!--SCRIPTS END-->
    <script>
        <% if (req.session.user) { %>
            app.run(['$rootScope', function ($rootScope) {
                $rootScope.user = <%- JSON.stringify(req.session.user) %>;
            }]);
        <% } %>
    </script>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
      mixpanel.init("0f96836e144375b7372186da7a80c4bc");
      if (window.location.hostname !== 'app.sentia.io') {
        mixpanel.disable();
      }
  </script><!-- end Mixpanel -->
    <!--STYLES-->
    
    <!--STYLES END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->







    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.

    -->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>


    <!--

      Client-side Javascript
      ========================

      You can import any js files in your `assets` directory as you would
      normally: using <script></script> tags.

      Here's an example of importing a few dependencies, in order:
    -->
    <!-- Bring in the socket.io client -->


    <!-- Your scripts here? -->
    <!-- Your scripts here? -->
    <!-- Your scripts here? -->


    <!--

      Looking for client-side CoffeeScript or TypeScript?
      ================================================

      CoffeeScript and TypeScript precompilation are not installed by default,
      but if you'd like to mix those features in, it is straightforward to
      `npm install` the relevant grunt community modules and modify your Gruntfile
      to use them.

    -->



    <!--

      Another way: The Asset Linker
      ========================

      Sails supports a Grunt-based asset linker, to automatically inject
      <link> and <script> tags, as well any client-side templates you're using
      into your HTML layouts and views, respecting dependencies.

      You created this Sails app with the asset linker disabled.
      If you change your mind, check out the docs on the subject:
      http://sailsjs.org/#!documentation/asset-management

    -->

    </body>
</html>
