<!-- Default home page -->
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->
<div class="container-fluid full-height" ng-controller="MainCtrl">
    <div class="row full-height">

        <div id="sidebar" class="col-sm-2 sidebar" ng-show="showHeader">
            <ul class="menu row">
                <li><h4 class="shadow caps text-center">Sentia.io</h4></li>
                <li>
                    <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=40&d=https://pbs.twimg.com/profile_images/3292107408/13effc3507c3fabffed7d4b034ea1a41.jpeg" alt="" id="active-user-avatar" class="img-xs-round">
                    <span id="active-user-name" class="shadow caps">{{user.firstname}}</span>

                </li>
                <li ng-class="{active : page === 'dashboard'}" class="a icon-dashboard" ng-click="go('/dashboard')"> Dashboard</li>
                <li ng-class="{active : page === 'store' || page === 'cam'}" class="a icon-home" ng-click="go('/store')"> Stores</li>
                <li ng-class="{active : page === 'users'}" class="a icon-user" > Users</li>
                <li ng-class="{active : page === 'settings'}" class="a icon-cog" > Settings</li>
            </ul>
        </div>
        <div id="content" ng-class="{'right' : showMenu, 'col-sm-12' : showHeader }"class="pages full-height col-sm-10 col-xs-12 has-lg-toolbar-top">
            <div class="toolbar-lg toolbar-absolute-top container-fluid bg-primary" ng-show="showHeader">
                <div id="navmenu" class="pull-left hide-on-login" ng-click="toggleMenu()">
                    <h3 class="icon-menu shadow caps text-white a"></h3>
                </div>
            </div>
            <ng-view ng-class="pageAnimationClass"></ng-view>

        </div>
    </div>
</div>
