<!-- Default home page -->
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->
<div id="content" class="full-height full-width has-lg-toolbar-top" ng-controller="MainCtrl">
    <% include ../partials/header.ejs %>
    <div ng-view="" class="full-height full-width animate-scale"></div>

</div>
