<!-- Default home page -->
<!--[if IE 7]>
    <style>
    .getting-started li{overflow:visible;clear:both}.delete{width:690px}
    </style>
<![endif]-->
<div class="full-height" ng-controller="MainCtrl">
    <!-- <div class="nav-button hide-on-login icon-menu a" ng-click="toggleMenu()"> -->
    <!-- </div> -->
    <div class="row full-height content" style="white-space: nowrap;" >
        <div id="sidebar" class="sidebar" ng-show="showHeader" style="white-space: normal;">
            <!-- <div><h4 class="shadow caps">Sentia.io</h4></div> -->
            <ul class="menu full-height">
                <li ng-class="{active : page === 'users'}" class="a" ng-click="go('/users')">
                <div>
                        <img ng-src="http://www.gravatar.com/avatar/{{ user.email | gravatar }}?s=40&d=https://pbs.twimg.com/profile_images/3292107408/13effc3507c3fabffed7d4b034ea1a41.jpeg" alt="" id="active-user-avatar" class="img-xs-round">
                </div>
                    <span id="active-user-name" class="shadow caps">{{user.firstname}}</span>
                </li>
                <!-- <li ng-class="{active : page === 'dashboard'}" class="a" ng-click="go('/dashboard')"><div class="icon-dashboard"></div> Dashboard</li> -->
                <li ng-class="{active : page === 'store' || page === 'cam'}" class="a" ng-click="go('/store')">  <div class="icon-home"></div> Stores</li>

                <li class="a" ng-click="logout()" ><div class="icon-switch"></div> Log Out </li>
            </ul>
        </div>
        <div id="content" class="pages full-height" ng-class="{'right' : showMenu}">
            <ng-view class="animate-fade"></ng-view>
        </div>
    </div>
</div>
