
.animate-fade {
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -o-transition:0.2s linear all;
    transition:0.2s linear all;
    position:relative;
    &.ng-enter {
        opacity:0;
         -webkit-transform: translate(-100%, 0);
        &.ng-enter-active {
            opacity : 1;
             -webkit-transform: translate(0, 0);
        }
    }
    &.ng-leave {
        opacity:1;
         -webkit-transform: translate(0, 0);
        &.ng-leave-active {
            opacity:0;
             -webkit-transform: translate(-100%, 0);
        }
    }
    &.ng-move {
         -webkit-transform: translate(-100%, 0);
        &.ng-move-active {
             -webkit-transform: translate(0, 0);
        }
    }

}
@media (min-width: @screen-sm-min) {
    .animate-fade {
        &.ng-leave-active,
        &.ng-enter {
            opacity : 0;
            -webkit-transform: translate(-100%, 0);
        }
        &.ng-enter-acitve,
        &.ng-leave {
            opacity : 1;
             -webkit-transform: translate(0, 0);
        }
    }
}
.animate-scale {
    -webkit-transition:0.3s linear all;
    -moz-transition:0.3s linear all;
    -o-transition:0.3s linear all;
    transition:0.3s linear all;
    position:relative;
    &.ng-enter {
        -webkit-transform : scale(0.8);
        &.ng-enter-active {
           -webkit-transform : scale(1);
        }
    }
    &.ng-leave {
        display:none;
    }
}


