
.animate-fade {
    -webkit-transition:0.3s linear all;
    -moz-transition:0.3s linear all;
    -o-transition:0.3s linear all;
    transition:0.3s linear all;
    position:relative;
    &.ng-enter {
        opacity:0;
        margin-bottom : -25rem;
        &.ng-enter-active {
            margin-bottom:0;
            opacity : 1;
        }
    }
    &.ng-leave {
        opacity:1;
        margin-bottom: 0;
        &.ng-leave-active {
            opacity:0;
            margin-bottom:-25rem;
        }
    }

}
@media (min-width: @screen-sm-min) {
    .animate-fade {
        &.ng-enter {
            margin-right : -100%;
            margin-bottom:0;
            &.ng-enter-active {
                margin-right:0;
            }
        }
        &.ng-leave {
            margin-right: 0;
            &.ng-leave-active {
                margin-right:-100%;
                margin-bottom:0;
            }
        }
    }
}
.animate-scale {
    -webkit-transition:0.3s linear all;
    -moz-transition:0.3s linear all;
    -o-transition:0.3s linear all;
    transition:0.3s linear all;
    position:relative;
    &.ng-enter {
        -webkit-transform : scale(0.8);
        &.ng-enter-active {
           -webkit-transform : scale(1);
        }
    }
    &.ng-leave {
        display:none;
    }
}
.animate-scale.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1;
}

.animate-scale.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.animate-scale.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0;
}

.animate-scale.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
