.sidebar {
    height:100%;
    background-color: #272930;
    box-shadow : -2px 0px 5px -2px rgba(0,0,0,0.5) inset;
    .menu {
        padding:0;
        &>li {
            padding :15px;
            color :#A7B1C2;
            display:block;
            list-style-type: none;
            &.a:hover,
            &.active {
                background-color: darken(#272930, 5%)
            }
        }
    }
}
@media(max-width : @screen-sm) {
    .sidebar {
        position:fixed;
        z-index: 0;
        width : 85%;
    }
}
.pages {
    overflow-y: auto;
    z-index:1;
    background-color: @body-bg;
    transition : -webkit-transform 500ms;
}
.pages.right {
    -webkit-transform : translate(85%, 0);
}