.sidebar {
    vertical-align: top;
    // float:left;
    height:100%;
    width:100%;

    background-color: #272930;
    // -webkit-transform : translate(-100%,0);
    display:inline-block;
    box-shadow : -2px 0px 5px -2px rgba(0,0,0,0.5) inset;
    .menu {
        background-color: darken(#272930, 5%);
        transition : -webkit-transform 500ms;
        -webkit-transform:translate(100%,0);
        width:80px;
        position:absolute;
        right:0;
        z-index:1;
        top:0;
        padding:0;
        padding-top: 30px;
        &>li {
            padding :15px;
            color :#A7B1C2;
            font-size: 10px;
            text-align: center;
            display:block;
            list-style-type: none;
            & > div {
                font-size: 30px;
                margin:5px 0px;
            }
            &.a:hover,{
                color: @gray-lighter;
            }
            &.active {
                color : @brand-primary
            }
        }
    }
}

.pages {
    padding-left: 80px;
    // -webkit-transform : translate(-100%, 0);
    position:relative;
    width:100%;
    vertical-align: top;
    overflow-y: auto;
    display:inline-block;
    background-color: @body-bg;

}
.content {
    transition : -webkit-transform 500ms;
    -webkit-transform:translate(-100%,0);
    overflow-x : visible;
    &.right {
        -webkit-transform : translate(0%, 0);
    }
}
.content.right .sidebar .menu {
    -webkit-transform:translate(0,0);
}
.nav-button {
    position: fixed;
    right: 25px;
    top: 8px;
    font-size: 30px;
    z-index:100;
}
@media(max-width : @screen-sm) {
    .sidebar {
        .menu {
            -webkit-transform:translate(0,0);
        }
    }
    .pages {
        padding-left:0px;
    }
}
