.tabs {
    width : 100%;
    border-bottom: 1px solid #dae3e9;
    text-align : center;
    padding: 0;
    &>li.tab {
        cursor: pointer;
        list-style-type: none;
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        color : @text-color;
        font-weight : 100;
        border-bottom: 3px transparent;
        &.active {
            color : @brand-primary;
            border-bottom: 3px solid @brand-primary;
        }
    }
}
